<html lang="en">

<head>
    <%- include('./head'); %>
</head>

<body class="container">

    <header>
        <%- include('./header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Simple Express EJS</h1>
            <p>Welcome</p>
        </div>
    </main>

    <footer>
        <p color="white" class="text-center text-muted">&copy; Copyright 2021</p>
    </footer>

</body>

</html>